

body{
    font-size: 1em;
    color: blueviolet;
    background-color: #eceaea;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dedede;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blueviolet;
  color: #dedede;
}
.back{
    background-color: #dedede;
}

form{
    max-width: 33.33333%;
    margin: 0 auto;
}