<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    
    <ul class="container">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/empresa">Empresa</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>

    <div class="container">
        
        <div class="row">
            <h1>{titulo}</h1>
            <p>{parrafo}</p>
        </div>
        
       
    </div>

   
    <footer class="container">
        <p>Footer text</p>
    </footer>
</body>
</html>