<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    
    <ul class="container">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/empresa">Empresa</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>

    <div class="container">
        
        <div class="row">
            <div class="card">
                <h1>{titulo1}</h1>
                <p>{hora}</p>
                <p>{saludo}</p>
                <img src="static/img/Putin.jpeg">
            </div>
            <div class="card">
                <h1>{titulo2}</h1>
                <p>{hora}</p>
                <p>{saludo}</p>
                <img src="static/img/Putin.jpeg">
            </div>
            <div class="card">
                <h1>{titulo3}</h1>
                <p>{hora}</p>
                <p>{saludo}</p>
                <img src="static/img/Putin.jpeg">
            </div>
        </div>
       
    </div>

    <footer class="container">
        <p>Footer text</p>
    </footer>
</body>
</html>